# Postgres warehouse
POSTGRES_USER=dbt
POSTGRES_PASSWORD=changeme
POSTGRES_DB=analytics

# dbt (consumido pelo profiles.yml)
DBT_PG_HOST=postgres
DBT_PG_PORT=5432
DBT_PG_USER=dbt
DBT_PG_PASSWORD=changeme
DBT_PG_DBNAME=analytics
DBT_PG_SCHEMA=dev
DBT_TARGET=dev

# Orchestrator
ORCHESTRATOR_SECRET=please-change-me
TZ=America/Sao_Paulo
